<template>
  <div class="container">
    <div id="modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- Account Information -->
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Account Information</h4></div>
          <div class="panel-body">
            <p><b>Address :</b> {{address}}</p>
            <p><b>Current Balance :</b> {{ balance }}</p>
          </div>
        </div>
        <!-- Notification Status -->
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Websocket Notification</h4></div>
          <div class="panel-body">
            <div v-if="transactionStatus.status != null">
              <p><strong>Status :</strong> {{transactionStatus.status}}</p>
              <p><strong>Recipient :</strong> {{transactionStatus.recipient}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Transaction Panel -->
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Send Transaction</h4></div>
          <div class="panel-body">
            <p>* Note : this will send a test transcation of 1XEM to the following address</p>
            <div v-if="transaction.hash != null">
              <p><strong>Message :</strong> {{transaction.message}}</p>
              <p>{{transaction.hash}}</p>
            </div>
            <button class="col-md-12 btn btn-success" v-on:click="sendTransaction"><b>Send</b></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import nem from 'nem-sdk';

const balanceComma = new Intl.NumberFormat('en-US');
const privateKey = '8213a5d64e1db1222a6a96ef06a02d2b366925414a8577f515275ada0c2716a9';

export default {
  data() {
    return {
      address: 'TCBWQO3WDQ6P45WFLZZJLQ6TVGB5Y45F4VDMM5U6',
      endpoint: {
        protocol: 'http',
        host: 'https://adamexperimental.cyberblox.my',
        port: 7891,
      },
      balance: null,
      transaction: {
        hash: null,
        message: null,
      },
      transactionStatus: {
        status: null,
        recipient: null,
      },
    };
  },
  methods: {
    // get account data from the following variable declare above
    getAccountData() {
      nem.com.requests.account.data(
        this.endpoint,
        this.address,
      ).then((res) => {
        console.log(res);
        this.balance = `${balanceComma.format(res.account.balance / 1000000)} XEM`;
      }, (err) => {
        console.log(err);
      });
    },
    // sendTransaction : send a sample transaction to the address
    sendTransaction() {
      // create common object
      const common = nem.model.objects.get('common');
      // assign privatekey to common object
      common.privateKey = privateKey;

      // create transaction object and entity
      const transferTransaction = nem.model.objects.create('transferTransaction')(this.address, 1, 'Test transaction');
      const transactionEntity = nem.model.transactions.prepare('transferTransaction')(common, transferTransaction, nem.model.network.data.testnet.id);

      // send transaction
      nem.model.transactions.send(common, transactionEntity, this.endpoint).then((res) => {
        console.log(res);
        this.transaction.hash = res.transactionHash.data;
        this.transaction.message = res.message;
      });
    },
    // socket : set up a connection listener using websocket for transcation information
    socket() {
      // Create an endpoint object
      const endpoint = nem.model.objects.create('endpoint')(this.endpoint.host, 7779);
      const connector = nem.com.websockets.connector.create(endpoint, this.address);

      // connect to the websocket
      connector.connect().then(() => {
        // If we are here we are connected
        console.log('### Connected ###');

        // subscribe to confirmed transaction
        nem.com.websockets.subscribe.account.transactions.unconfirmed(connector, (res) => {
          console.log(res);
          this.transactionStatus.status = 'Unconfirmed';
          this.transactionStatus.recipient = res.transaction.recipient;
        });

        // subscribe to confirmed transaction
        nem.com.websockets.subscribe.account.transactions.confirmed(connector, (res) => {
          console.log(res);
          this.transactionStatus.status = 'Confirmed';
          this.transactionStatus.recipient = res.transaction.recipient;
        });
      }, (err) => {
        // If we are here connection failed 10 times (1/s).
        console.log('Error', err);
      });
    },
  },
  created() {
    this.getAccountData();
    this.socket();
  },
};
</script>
