<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import nem from 'nem-sdk';

export default {
  data() {
    return {
      name: 'app',
    };
  },
  created() {
    console.log(nem);
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
